Flask
flask-cors
transformers
torch
PyPDF2
python-docx

# # flask==3.1.0
# # gradio==3.2.0
# # transformers==4.28.0
# # PyPDF2==3.0.1
# # python-docx==1.1.2
# # flask-cors==5.0.1
# gradio
# transformers
# PyPDF2
# python-docx

